/* first step is to import fonts*/

#content{
    max-width: 1600px;
    margin:0 auto;
}
nav a{
    text-align:center;

}
#hero-msg h1,
#hero-msg h4{
    text-align:center;
}
.buttom-box{
    text-align:center;

}
main section{
    text-align:center;
}
#background{
    height:725px;
}

body{
    background-color:#e9c46a;
}
/*Start nav*/
header{
    background-color: #2a9d8f ;
}
nav:a {
    color:white ;
    padding:14px;
    text-decoration: none;
}
nav a:hover{
    background-color: white;
}
.book , .join color{
   background-color:#2a9d8f ; 
}
.book:hover,
.join:hover{
    background-color:#e9c46a ;
}
#background{
    background-color:#264653;
}
.msg{
    background-color: #e76f51;
}
footer{
    background-color: #2a9d8f;
}
footer{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.logo,.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}