/* first step is to import fonts*/

#content{
    max-width: 1600px;
    margin:0 auto;
}
nav a{
    text-align: center;
}
#hero-msg h1
#hero-msg h4{
    text-align: center;
}
.buttom-box{
    text-align: center;

}
main section{
    text-align: center;
}
#background{
    height: 725px;
}

body{
    background-color:#e9c46a;
}
header{
    background-color: #2a9d8f ;
}
nav:a color{
    background-color:white ;
}.book color, .join color{
   background-color:#e76f51 ; 
}
#background{
    background-color:#264653;
}
.msg{
    background-color: #e76f51;
}
footer{
    background-color: #2a9d8f;
}