body {
    margin: 0;
    background-color: gray;
}
#hero {
    padding: 0em;
}
#hero-img {
    width: 100%;
    padding: none;
}
#images-container {
    margin: 0 auto;
    text-align: center;
}
.images {
    border-radius: 50%;
    border: 15px solid rgb(72, 72, 72);
    margin: 3%;
    width: 20%
}
/* * {
    border: 5px dashed greenyellow;
} */