#content{
    max-width: 1600px;
    margin: 0 auto;
}

/*importante, recordar escribir este parametro,para que haya una mejor imagen de las paginas en diferentes devices*/


header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#ffc8dd;
    text-align: left; 
    color: white;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0px;
    margin-top: 0px;
    width: 100%;

    
}
/* luego el logo*/
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}



nav a:hover{
    color: black;
}
/* dimensiones de logo*/
img.logo{
    width: 100px;
    padding: 20px 20px;
    margin-top: 0px;
}

body{
    text-align: center;
    font-family: cursive;
    background-color:#bde0fe;
    height: 100vh;
    display: grid;
    
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;                                                                                                                                                                                        
}

   .wrapper{
    position:absolute;
    box-sizing: content-box;
    background-color: #fff;
    height:25px;
    padding:25px 20px;
    display:flex;

   }


.words{
    overflow: hidden;
}


span{
display: block;
height: 100%;
padding-left: 6px;
color:#09b8b8;
border:1px solid #ffff;
animation: spin_words 6s infinite;

}



@keyframes spin_words{


10%{
    transform:translateY(-112%)
}
25%{
    transform:translateY(-100%)
}
35%{
    tarnsform:translateY(-212%)
}

50%{
    transform:translateY(-200%)

}
60%{
    transform:translateY(-312%)
}
75%{
    transform:translateZ(-300%)
}
85%{
    transform:translateY(-412%)
}
100%{
    transform: translateY(-400%);
}
 
}

 h2{
    box-sizing: border-box;
    padding:5px;
    color:#ffff;
    background-color:#a2d2ff;
    width: auto;
}
ul{
list-style: none;
}

img{
 justify-content: space-between;
padding:15px;
display:inline-flex;
}
img{
    display: grid;

}
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color:#09b8b8;
}
footer{

    padding: 25px 50px;

    margin-top: 200px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #cdb4db;
    text-align: left;
    background-color:#4671a1;
}
.button {
    /* Alinear buttoms*/
    padding-left: 90px; 
  }
  
  button {
    
    margin-left: .5em;
  }