#content{
    max-width: 1600px;
    margin: 0 auto;
}

/*importante, recordar escribir este parametro,para que haya una mejor imagen de las paginas en diferentes devices*/




body{
    
    background-color: #ffafcc;
}
 
.text-box{
    margin-top: 130px;
    max-width: 700px;
}
.text-box h1{
    margin-bottom: 20px;
    color:#4671a1;
}
.text-box{
    display:inline-block;
    text-decoration: none;
    color:#4671a1;
    background: #ffc8dd;
    padding:15px 50px;
    font-size: 19px;
    margin-top: 45px;
}
span{
    color:#ffff;
}

    
     

    .winter-box{
     float:right;

    }
    
    h2{
        display:block;
        background: #FF99C8;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 22px;
        

    }
    
    .container{
        display: flex;
        box-sizing:border-box;
        padding: 0;
        margin:0;
        justify-content: center;
        flex-wrap: wrap;  
    
    }
    
    
    .card{
    
        background: #bde0fe;
        width:400px;
        height:500px;
        margin:16px;
        border-radius: 15px;
        border:2px solid white;
        
    }
    .card-img{
    
        height:400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px;
        border: 2px solid white;
        box-shadow: #304257;
    }
        
    .card-1{
        background-image: url(../images/graph.jpg);
        
    }
    .card-2{
        background-image:url(../images/calendar.jpg) ;
    }
    .card-3{
        background-image: url(../images/wheels.jpg);
    }
