#content{
    max-width: 1600px;
    margin: 0 auto;
}

/*importante, recordar escribir este parametro,para que haya una mejor imagen de las paginas en diferentes devices*/


header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#ffc8dd;
    text-align: left; 
    color: white;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0px;
    margin-top: 0px;
    width: 100%;
}
/* luego el logo*/
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/*despues del logo nav*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    color:white;
    text-decoration: none;
    padding: 30px;
    padding-top: 30px;
    
}

nav a:hover{
    color: black;
}
/* dimensiones de logo*/
img.logo{
    width: 100px;
    padding: 20px 20px;
    margin-top: 0px;
}


body{
    
    background-color: #ffafcc;
}
 
.text-box{
    margin-top: 130px;
    max-width: 700px;
}
.text-box h1{
    margin-bottom: 20px;
    color:#4671a1;
}
.text-box{
    display:inline-block;
    text-decoration: none;
    color:#4671a1;
    background: #ffc8dd;
    padding:15px 50px;
    font-size: 19px;
    margin-top: 45px;
}
span{
    color:#ffff;
}

    
     

    .winter-box{
     float:right;

    }
    
    h2{
        display:block;
        background: #FF99C8;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 22px;
        

    }
    
    .container{
        display: flex;
        box-sizing:border-box;
        padding: 0;
        margin:0;
        justify-content: center;
        flex-wrap: wrap;  
    
    }
    
    
    .card{
    
        background: #bde0fe;
        width:400px;
        height:500px;
        margin:16px;
        border-radius: 15px;
        border:2px solid white;
        
    }
    .card-img{
    
        height:400px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px;
        border: 2px solid white;
        box-shadow: #304257;
    }
        
    .card-1{
        background-image: url(../images/graph.jpg);
        
    }
    .card-2{
        background-image:url(../images/calendar.jpg) ;
    }
    .card-3{
        background-image: url(../images/wheels.jpg);
    }
footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color:#D0F4DE;
}
footer{

    padding: 25px 50px;

    margin-top: 200px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: left;
    background-color:#cdb4db;
}
.button {
    /* Alinear buttoms*/
    padding-left: 90px; 
  }
  
  button {
    
    margin-left: .5em;
  }