
#content{
    max-width:  1600px;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');


body{
    background-color:#ffc8dd;
    font-family: "noto sans","loto",sans-serif;
    font-size: 22px;
}

header{
    
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#6971dd;
    text-align: left; 
    color: white;  
    font-family:  "loto", sans-serif;
    padding: 0px 0px;
    margin-top: 0px;
    width: 100%;
    
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/*despues del logo nav*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav a {
    color:white;
    text-decoration: none;
    padding: 3px;
}
img.hero-img{
    width: 500px;
}
#hero-img{
    width:100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}


.a{
    display: inline-block;
    border: 1px solid #f028b4;
    background:#09b8b8;
    padding:10px;
    color:#fff;
    text-decoration: none;
    border-radius: 6px;
}

.a:hover{
    
    background: #fff;
    color:#cdb4db;
}
.ul-btn-1{
    display: inline-block;
    background:#f028b4;
    text-decoration: none;
    border-radius: 5px;

}
.ul-btn-2{
    display: inline-block;
    background:#ffc8dd;
    text-decoration: none;
    border-radius: 5px;

}
.ul-btn-3{
    display: inline-block;
    background:#bde0fe;
    text-decoration: none;

    border-radius: 5px;
}
h1{
    font-size: 2em;
    color:#fff;
    
}

h2{
    display:block;
    background:#fff;
    border-radius: 3px;
    color:#f028b4;
    

}
h2
{
    color:#f028b4;
    text-align: center;
}



ul {
  
    padding:  30px 70px;
}
ul li{
    
    margin:5px;
}
.container-text{
    
    background:#6971dd;
    font-family:"noto-sans";
    color:#fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}



.container-card-o
{
    display:flex;
    justify-content: center;
    box-sizing:border-box;
    padding: 5px;
    margin:5px;
    
      

}

.card{
    
    background:#bde0fe;
    width:360px;
    height:400px;
    margin:16px;
    border-radius: 15px;
    border:2px solid #fff;

}
.card-img{
    height:340px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
    border: 2px solid #bde0fe;
    box-shadow: #f028b4;
}

.card-1{

 background-image:url(../images/pearl.jpg) ;
}
.card-2{
    background-image:url(../images/tn.jpg) ;
}
.card-3{
background-image:url(../images/bt.jpg) ;
    }
.card-4{
background-image:url(../images/graph.jpg) ;
}
.card-5{
background-image: url(../images/calendar.jpg);
}
.card-6{
background-image: url(../images/wint.jpg);
}

.card a{
    background-color:#6971dd;
    color:#ffff;
    padding:15px 20px;
    display: block;
    text-align: center;
    margin:20px 50px;
    border-radius: 12px;
    text-decoration: none;
}
.container-card-p{
    display: flex;
    justify-content: center;
    box-sizing:border-box;
    padding: 5px;
    margin:5px;
    

}
    .text-box-s{
        margin: top 130px;
        max-width: 760px;
    }
    .text-box-s{
        
            display:inline-block;
            text-decoration: none;
            color:#fff;
            background:#6971dd;
            padding:10px 60px;
            font-size: 18px;
            margin-top: 50px;
            border-radius: 6px;
        
        }
        
        
    .ether-box{
        float:right;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 10px;

    }
    .text-box-q{
        display:inline-block;
        text-decoration: none;
        color:#fff;
        background:#6971dd;
        padding:10px 60px;
        font-size: 18px;
        margin-top: 50px;
        border-radius: 6px;
    
    }
    .winter-box{
        float:right;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;

    }
    .sliders{
        display:flex;
        align-items: center;
     column-gap: 20px;
     overflow-x:scroll;
     scroll-snap-type: x mandatory;
     padding:40px;
    }
    
    .slide{
        min-width: 45%;
        height:320px;
        overflow: hidden;
        scroll-snap-align:center ;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0,0.35) 0 5px 15px;
    }
    
    .slide img{
    
        width:100%;
        height:100%;
        object-fit:cover;
    }
    
    ::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 5px #cdb4db;
        border-radius: 4px;
    }

footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: none;
    color:#09b8b8;
}
footer{
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#f028b4;
    text-align: left;
    background-color: #2a2f77;
}

                  /* form CSS */

/* form CSS */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 2em;
    border: 2px solid #6971dd;
    border-radius: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 2px solid #6971dd;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;       
  }
  .moveDown {
      margin-top: 3em;
  }
      