
body{
    background-color: #a2d2ff;
}
.text-box{
    margin: top 130px;
    max-width: 600px;
}

.text-box h1{
    font-size: 30px;
    margin-bottom: 20px;
    color:#ffff;
}

.text-box{
    display:inline-block;
    text-decoration: none;
    color:#ffff;
    background:#bde0fe;
    padding:10px 60px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;

}
.ether-box{
    position:absolute;
    top:20px;
    left:60%;
    z-index: 3;
}

.ether-box img{
padding-top:100px;
width:70%;
margin-bottom: -205px;
}

div.container{
    display: block;
    
     background-color:#bde0fe;
 
}
h2{
    display:block ;
    background:#a2a8ff;
    
    
    text-align: center;
    
}
ul {
  
    padding:  30px 70px;
}
ul li{
    
    margin:5px;
}
.sliders{
    display:flex;
    align-items: center;
 column-gap: 20px;
 overflow-x:scroll;
 scroll-snap-type: x mandatory;
 padding:40px;
}

.slide{
    min-width: 45%;
    height:320px;
    overflow: hidden;
    scroll-snap-align:center ;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0,0.35) 0 5px 15px;
}

.slide img{

    width:100%;
    height:100%;
    object-fit:cover;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 5px #cdb4db;
    border-radius: 4px;
}
